.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    gap: 2rem;
}

.header-welcome-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}